.form-group img {
  width: 100px;
  height: 100px;
}

body {
  height: 100vh;
}

.timeline {
  width: 100vw;
  height: 100vh;
  padding: 50px 0 0 0;
  margin: 0;
  background: url("3hkPBc3S7F3oylGmAgo4GxNGQObWTSZHWmyq5JMV.jpg") center center/cover no-repeat;
  background-attachment: fixed;
}

.timeline__change_content {
  background-color: #fff;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px;
  border: solid 1px black;
  border-radius: 20px;
  position: relative;
}

.timeline__botton {
    display: flex;
    width: 250px;
    margin: 50px auto 0 auto;
}

.botton__back {
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    border: solid 1px black;
    color: black;
    padding: 4px 17.5px 4px 17px;
    margin-right: 50px;
}

.botton__back a {
    color: black;
}

.botton__save {
    width: 100px;
    height: 30px;
}

.botton__save input {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    border: solid 1px black;
}